.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  padding: 1rem 2rem;
  border-radius: 5px;
  background-color: var(--first-background-color);
  margin: 5rem 0rem;
  width: 30rem;
}

.form-container h1 {
  text-align: center;
  color: #fff;
}

.form-container form {
  width: 100%;
}

.form-container form div {
  width: 100%;
}

.form-container input,
.submit button,
.sign-up button {
  width: 100%;
  margin: 1rem 0;
  padding: 0.7rem 0.7rem;
  border-radius: 30px;
  border: none;
}

.form-container button {
  text-align: center;
}

.submit button,
.sign-up button {
  cursor: pointer;
  background-color: #eaa3f7;
  color: #fff;
  font-size: 1.3rem;
}

.submit button:hover,
.sign-up button:hover {
  background-color: #b678f5;
}

.sign-up h3 {
  text-align: center;
  color: #fff;
}

.sign-up button {
  margin: 0.5rem 0rem;
}

@media (max-width: 600px) {
  .form-container {
    width: 20rem;
  }
}
